.header {
  display: grid;
  align-items: center;
  padding: 92px 49px 94px 51px;
  grid-template: 1fr / 1fr auto 1fr;
}

.header__links-list {
  display: flex;
  gap: 12px;
  font-size: 18px;
  text-underline-offset: 5px;
  list-style: circle;
}

.header__links-list-item {
  margin-right: 20px;
}

.header__links-list-item:last-of-type {
  margin-right: 0;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration-line: none;
}

.header__logo-image {
  display: block;
  height: 105px;
  margin-bottom: 2px;
}

.address {
  justify-self: end;
  width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  opacity: 0.6;
  background: black;
}

.cover__title {
  color: white;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
}

.aligned-text {
  position: relative;
  display: block;
  line-height: 1.15;
  letter-spacing: 30px;
}

.aligned-text_center {
  margin: 20px 0 20px;
  line-height: 1;
  text-align: center;
}

.aligned-text_right {
  line-height: 1;
  text-align: end;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
  margin-top: 135px;
}

.cover__description-text {
  z-index: 1;
  color: white;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px; /*наиболее точное расстояние, которое удалось подобрать.
  по PP начало и конец строки совпадают идеально, но в середине есть расхождение.
  это связано с особенностями отображения шрифта браузером или проблема в другом?*/
}

.bet-button {
  z-index: 1;
  border: 1px solid white;
  padding: 12px 32px;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding: 180px 50px 181px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 430px;
  min-height: 450px;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
}

.card__title {
  z-index: 1;
  color: white;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration-line: underline;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  color: white;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 8px 25px;
  padding: 0 50px 180px;
}

.about__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 240px;
  background-color: black;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin-top: 100px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  gap: 25px;
  font-size: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 90px;
}

.footer__menu-list {
  font-size: 18px;
  text-align: center;
  text-underline-offset: 3px;
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
}

.footer__social-icon {
  width: 48px;
}
